<!-- 
    Name: Ark Nandan Singh Chauhan, 19323352
    HTML fornt-end wth vue to render weather data from server
 -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ark's-Weather App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Vue Script Tag -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- Tag End -->
        <link rel="stylesheet" href="">
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;
            }
            </style>
    </head>
    <body>
        <h2>Weather App-Ark Chauhan, 19323352</h2>
        <!-- All Vue componeents inside id `app` -->
        <div id="app">
            
            <!-- Enter city name -->
            <input v-model="city_name" placeholder="City Name, eg.Dublin">
            <!-- Button for getting weather Info -->
            <button v-on:click="show_weather_info">View</button>
            
            
            <div id="output">
                
                <!-- Error to show when server error received -->
                <p v-if="received_server_error == true" style="color: red;">Could Not retrieve Weather Data! </p>

                <!-- span with condition to view server response containing weather data -->
                <span v-if="weather_data != null">
                    <h3>Rain Conditions:</h3>
                    <p v-if="weather_data.data.carry_umbrella_5days == true">
                        YES, User should carry Umbrella, it can rain over the next 5 days. 
                    </p>
                    <p v-else= "weather_data.data.carry_umbrella_5days == false">
                        NO, User needs not to carry Umbrella, it will not rain over the next 5 days.
                    </p>
                    <h3>Weather Conditions:</h3>
                    <p>{{weather_data.data.packing_based_on_temp}}</p>
                    <h3>Weather Summary:</h3>
                    <!-- Table to display wheather data with date and time for 5 days -->
                    <table>
                        <thead>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Temperature(°C) Every 3hr</th>
                            <th>Average Temperature(°C)</th>
                            <th>Average Wind Speed(m/s)</th>
                            <th>Minimum Temperature(°C)</th>
                            <th>Maximum Temperature(°C)</th>
                            <th>Total Rainfall Level(mm)</th>
                            <th>Is it Raining(True/False)</th>
                        </thead>
                        <tbody>
                            <template v-for="(entry_data,date) in weather_data.data.forecast">
                                <tr>
                                    <td>{{date}}</td>
                                    <td>
                                        <!-- display time for each day -->
                                        <template v-for="(el1) in entry_data.time">
                                            <tr>{{el1}}</tr>
                                        </template>
                                    </td>
                                    <td>
                                        <!-- display temperature corresponding to time(every 3hr) for a day -->
                                        <template v-for="(el1) in entry_data.temperature">
                                            <tr>{{el1}}</tr>
                                        </template>
                                    </td>
                                    <td>{{entry_data.avgTempCelsius}}</td>
                                    <td>{{entry_data.avgWind}}</td>
                                    <td>{{entry_data.tempRangeCelsius[0]}}</td>
                                    <td>{{entry_data.tempRangeCelsius[1]}}</td>
                                    <td>{{entry_data.totalRainfall}}</td>
                                    <td>{{entry_data.isRaining}}</td>
                                </tr>
                            </template>
                                
                        </tbody>
                    </table>
                </span>
                <!-- end of span -->

            </div>
        </div>
    </body>

    <script>
        var app = new Vue({
                el: '#app',
                data: {
                    city_name:'',
                    received_server_error: false,
                    weather_data:null,
                },
                methods:{
                    show_weather_info: show_weather_info
                }
            });

            function show_weather_info(){
                // fetch weather data from server route based on input city name: eg. http://localhost:3000/dublin
                // axios.get(`http://localhost:3000/${this.city_name}`)
                axios.get(`https://arknandan25.github.io/weather_app/${this.city_name}`)
                    .then((server_response) => {
                        this.weather_data = server_response;
                        this.received_server_error = false;
                    })
                    .catch((error) => {
                        console.log(error);
                        this.received_server_error = true;
                    });
            }
    </script>

</html>